@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@font-face {
	font-family: HackX;
	src: url('../fonts/Hack-Regular.eot?') format('eot'),
		url('../fonts/Hack-Regular.woff') format('woff'),
		url('../onts/Hack-Regular.ttf') format('truetype');
}

:root{
	--chat-bg-color: rgb(220, 220, 225);
	--chat-border-color: rgb(220, 220, 225);

	--chatQ-bg-color: rgba(135, 208, 229, 1);
	--chatQ-border-color: rgba(135, 208, 229, 1);
}

#bodycontent {
	overflow-y: visible;
}
#bodycontent .bodycontent-inner{
	overflow: hidden;
	height: 89vh;
	position: relative;
	max-width: 1000px;
}

#bodycontent .bodycontent-inner .bodycontent-inner2{
	width: 100%
	height: 100%;
	overflow-y: scroll;

	--scroll-border: 1px solid rgba(0,0,0,0.2);
	border-top: var(--scroll-border);
	border-bottom: var(--scroll-border);
}


#bodycontent .bodycontent-inner .bodycontent-inner2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,.07);
}

#bodycontent .bodycontent-inner .bodycontent-inner2::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(75,75,75,0);
}

#bodycontent .bodycontent-inner .bodycontent-inner2::-webkit-scrollbar-thumb {
	background-color: #19B7E0;
}

#bodycontent .bodycontent-inner .bodycontent-inner2 .wrapper {
	position: relative; 
	margin-left: auto;
	margin-right: auto;
}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit{width: 100%; overflow: hidden; --icon-dims: 44px; --icon-padding: 1em;}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.big {--icon-dims: 130px;}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit h1 {
	font-size: 2.0em;
	line-height: 1em;
	font-weight: normal;
	text-decoration: none;
	margin: 0;
}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit h2 {
	font-size: 1.15em;
	line-height: 1.4em;
	width: 100%;
	margin: 0;
}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin: 0;
}

/* Style chatbox */
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .chat.appear {opacity: 1;}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .chat {
	opacity: 0;
	transition: 
			border-color .4s ease,
			opacity 0.4s ease;
	padding: .9em 1.2em;
	margin: .4em 0;
	border-radius: 1em;
	max-width: calc(90% - var(--icon-dims) - 2em);
	clear: both;
}


#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .iconHolder.appear {opacity: 1;}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .iconHolder{
	border-radius: 50%;
	opacity: 0;
	
	width: var(--icon-dims);
	height: var(--icon-dims);
	
	margin-top: 0;
	padding: 0.4em;
}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.big .iconHolder {
	--icon-dims: 130px;
	margin: 0.4em 3em 1em 0;
}


/* Style question */
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.question .iconHolder {position: absolute; right: 0;}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.question .chat {
	font-family: "HackX";
	font-size: .9em;
	color: rgba(37, 37, 42, 1);
	background-color: var(--chatQ-bg-color);
	border-top-right-radius: 0;
	
	max-width: 35%;
	float: right;
	display: block;
	position: relative;
	right: calc(var(--icon-dims) + var(--icon-padding));
}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.question .chat:before {
	content: ' ';
	float: right;
	position: relative;
	right: -2.4em;
	top: -0.9em;

	--triangle-fill: .6em solid var(--chatQ-border-color);
	--triangle-empty: .6em solid transparent;

	border-top: 	var(--triangle-fill);
	border-right: 	var(--triangle-empty);
	border-bottom: 	var(--triangle-empty);
	border-left: 	var(--triangle-fill);

	height: 0;
	width: 0;
}

/* Style answer*/
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.answer .iconHolder {position: absolute; left: 0;}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.answer .chat {
	font-family: 'Roboto Slab', serif;

	float: left;
	display: block;
	clear: both;
	position: relative;
	left: calc(var(--icon-dims) + var(--icon-padding));

	background-color: var(--chat-bg-color);
	border: 1px solid var(--chat-border-color);

}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.answer :nth-child(2) {border-top-left-radius: 0;}
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.answer :nth-child(2):before {
	content: ' ';
	position: relative;
	float: left;
	left: -2.4em;
	top: -0.9em;

	--triangle-fill: .6em solid var(--chat-border-color);
	--triangle-empty: .6em solid transparent;

	border-top:		var(--triangle-fill);
	border-right: 	var(--triangle-fill);
	border-bottom: 	var(--triangle-empty);
	border-left: 	var(--triangle-empty);

	height: 0;
	width: 0;

	-webkit-transition: border-color .4s ease;
}

#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .iconHolder img {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: var(--icon-dims);
	max-height: var(--icon-dims);
}

/* Style rotating circles */
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .iconHolder img.ring {
	opacity: 0;
	-webkit-transition: opacity 2s;
}


/* Style chat circle icon */
#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .iconHolder img.chaticon {
	border-radius: 50%;
	-webkit-transition: -webkit-transform 0.5s ease;
	border: 1px solid rgba(100,100,100,0.2);
}

.formcontainer {
	margin: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.formcontainer form{
	margin: 0;
	padding-top: .5em;
}
.formcontainer form textarea#message{
	margin: 0;
}

@media screen and (min-width: 465px){
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit {--icon-dims: 50px; --icon-padding: 1.2em;}
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .chat {max-width: 60%;}

	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit h1 {font-size: 3em;}
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit h2 {font-size: 1.3em;}
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit p {font-size: 1.3em; line-height: 1.6em;}
}

@media screen and (min-width: 720px){
	#bodycontent .bodycontent-inner .wrapper{width: 70%;}

	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit {--icon-dims: 55px; --icon-padding: 1.1em;}
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit .chat {
		margin: .5em 0;
		padding: 1.5em;
		max-width: calc(70% - var(--icon-dims) - 2em);
	}

	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit p {font-size: 1.4em; line-height: 1.6em;}
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.question .chat:before {right: -2.7em; top: -1.5em;}
	#bodycontent .bodycontent-inner .bodyContent-inner2 .wrapper .chatUnit.answer   .chat:before {left:  -2.7em; top: -1.6em;}

	.formcontainer form{padding: 1em 1em 0 1em;}
}


.clear {
	clear: both;
}


