@font-face {
	font-family: HackX;
	src: url('../fonts/Hack-Regular.eot?') format('eot'),
		url('../fonts/Hack-Regular.woff') format('woff'),
		url('../onts/Hack-Regular.ttf') format('truetype');
}

#bodycontent {
	background-color: white;
	color: black;
	font-family: "HackX";
	font-size: 10px;
	overflow: hidden;
	background-color: ;
}

.wrapper {
	overflow: auto;
}

#bodycontent h1 {
	font-size: 4em;
	line-height: 1em;
	font-weight: normal;
	decoration: none;
}

#bodycontent h2 {
	font-size: 1.8em;
	line-height: 1.4em;
	width: 100%;
}

#bodycontent p {
	font-size: 1.5em;
	line-height: 1.6em;
}

#bodycontent emp {
	color: rgba(255, 245, 0, 1);
}

/*Chatbox*/
#bodycontent .chat {
	opacity: 0;
	transition: opacity 0.7s ease;
}
#bodycontent .appear {
	opacity: 1;
}

#bodycontent .question, .answer {
	padding: .7em 2.5em;
	margin: 1em 2em;
	border-radius: 1em;
	max-width: 70%;
	overflow: visible;
}
#bodycontent .question {
	float: right;
	position: relative;
	right: 2em;
	clear: right;
	border-top-right-radius: 0;
	background-color: rgba(0, 210, 255, 1);
	color: rgba(37, 37, 42, 1);
}
#bodycontent .answer {
	float: left;
	position: relative;
	left: 2em;
	clear: left;
	background-color: rgba(37, 37, 42, 1);
	color: rgba(253, 255, 252, 1);
	/*border: 1px solid rgb(255,245,0);*/
	/*rgb(255, 249, 0)*/
}
.a1 {
	clear:none;
	border-top-left-radius: 0;
}

#bodycontent .question:before {
	content: ' ';
	position: relative;
	float: right;
	right: -3.9em;
	top: -.7em;

	border-top: .7em solid rgba(0, 210, 255, 1);
	border-right: .7em solid transparent;
	border-bottom: .7em solid transparent;
	border-left: .7em solid rgba(0, 210, 255, 1);

	height: 0;
	width: 0;
}
#bodycontent .a1:before {
	content: ' ';
	position: relative;
	float: left;
	left: -3.9em;
	top: -.7em;

	border-top: .7em solid rgba(37, 37, 42, 1);
	border-right: .7em solid rgba(37, 37, 42, 1);
	border-bottom: .7em solid transparent;
	border-left: .7em solid transparent;

	height: 0;
	width: 0;
}

.img-circle {
	border-radius: 50%;
	width: 11em;
	height: auto;

	border: 5px solid rgb(255,245,0);
	margin: 1em;

	float: left;
	position: relative;

	-webkit-transition: left .7s; /* Safari */
    transition: left .7s;

}

.formcontainer {
	margin: 0em;
}

@media screen and (max-width: 720px){
	.wrapper {
		margin-left: 0%;
		margin-right: 0%;
		overflow: auto;
	}

	.img-circle {
		display: none;
	}
	#bodycontent h1 {
		font-size: 2.4em;
	}
	#bodycontent h2 {
		font-size: 1.5em;
	}

	#bodycontent p {
		font-size: 1.4em;
		line-height: 1.3em;
	}

	#bodycontent .question, .answer {
		margin: 0.6em 2em;
	}

	.formcontainer {
		margin: 1.5em;
	}
}


.clear {
	clear: both;
}


