:root{
	--dark-blue: #2f3e51;
}

body { 
	color: var(--dim-white);
	background-color: #1f252b;
/*	background-color: black;
	background-image: linear-gradient( rgba(23, 37, 55, .85), rgba(23, 37, 55, .85)), url(https://history.nasa.gov/alsj/a17/AS17-137-21018HR.jpg);
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
*/
}

#navbar a.active {color: #68d1ed;}

#bodyContent a {
	color: rgb(180, 180, 180);
	border-bottom-color: var(--yellow);
}
#bodyContent a:hover {color: var(--yellow);}


/*About************************************************************/

#bodyContent .bodycontent-inner .bodycontent-inner2{
	--scroll-border: 1px solid rgba(255,255,255,0.5);
}

#bodyContent .bodyContent-inner .bodyContent-inner2 .wrapper .chatUnit.question{
	--chatQ-bg-color: rgba(250, 237, 38, .9);
	--chatQ-border-color: rgba(250, 237, 38, .9);
}

#bodyContent .bodyContent-inner .bodyContent-inner2 .wrapper .chatUnit.answer{
	--chat-bg-color: transparent;
	--chat-border-color: rgb(93, 103, 107); /*rgba(255,255,255,0.3)*/
	color: rgba(255, 255, 255, 0.7);
	letter-spacing: .03em;
}


#bodyContent .bodyContent-inner .bodyContent-inner2 .wrapper .chatUnit.answer .chat.glow{
	--chat-border-color: rgba(135, 208, 229, 1);
	color: #c2e9f0;
}

#bodyContent .bodyContent-inner .bodyContent-inner2 .wrapper .chatUnit.answer .chat.glow a{color: #c2e9f0;}

#bodyContent #iconHolder-main:hover > img.chaticon{transform: scale(.7);}
#bodyContent #iconHolder-main:hover > img.ring {opacity: 1;}
#bodyContent #iconHolder-main:hover > img.ring1 {-webkit-animation: rotationCW 48s infinite linear;}
#bodyContent #iconHolder-main:hover > img.ring2 {-webkit-animation: rotationCCW 12s infinite linear;}
#bodyContent #iconHolder-main:hover > img.ring3 {-webkit-animation: rotationCCW 60s infinite linear;}

@-webkit-keyframes rotationCW {
	from {-webkit-transform: rotate(0deg);}
	to 	 {-webkit-transform: rotate(359deg);}
}
@-webkit-keyframes rotationCCW {
	from {-webkit-transform: rotate(359deg);}
	to 	 {-webkit-transform: rotate(0deg);}
}



/*tutoring********************************************************/
#bodyContent .banner{
background-image: 
		linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), 
		var(--img)
	;
}

#bodyContent .bodyContent-inner .wrapperR {
	border: 2px solid rgba(255, 255, 255, .2);
}

#bodyContent .bodyContent-inner .wrapperR table tr:nth-of-type(odd) td:nth-of-type(1) {
	background: rgba(255, 255, 255, .1);
}

#bodyContent .bodyContent-inner .grid-item .projectCard h1{color: var(--dim-white);}

#bodyContent .bodyContent-inner ol li {
	margin: 1em;
	margin-left: -.7em;
}


@media screen and (max-width: 780px) {
	#bodyContent .bodyContent-inner .wrapperR {
		padding: 5em 0 1em;
		margin-bottom: 2em; 
	}
}


/*projects********************************************************/

#search {background-color: rgba(255, 255, 255, 0.1);}

#bodyContent .bodyContent-inner .grid{overflow: auto;}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard {
	background-color: rgba(255, 255, 255, .03);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard .slideshow {
	margin:  1em 1em 0 1em;
}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard h1 a {
	color: rgb(200, 200, 200);
	letter-spacing: 1.4px;
	border-bottom: 3px solid var(--yellow);
}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard h1 a:hover {color: var(--yellow);}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard .seemore {
	color: rgb(80,80,80);
	background-color: rgba(0,0,0,.4);
}
#bodyContent .bodyContent-inner .grid .grid-item .projectCard .seemore:hover {
	color: var(--yellow);
	border: 1px solid var(--yellow);
	background-color: rgba(255,255,255,.2);
}


/*project post*******************************************/

#bodyContent #gallery-tiles::-webkit-scrollbar {height: 6px;}
#bodyContent #gallery-tiles::-webkit-scrollbar-thumb {background-color: var(--yellow);}
#bodyContent .bodycontent-inner #words h1{color: #6FC8E0;}
