body {
	color: #ddddd8;

	background-color: black;
	background-image: linear-gradient( rgba(23, 37, 55, .85), rgba(23, 37, 55, .85)), url(https://history.nasa.gov/alsj/a17/AS17-137-21018HR.jpg);
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
}


#bodycontent a {
	color: rgb(180, 180, 180);
	border-bottom-color: #faed26;
}
#bodycontent a:hover {color: #faed26;}


/*About************************************************************/
#bodycontent .answer {
	border: 1px solid white;
	color: white;
	background-color: transparent;
}
#bodycontent .a1:before {
	border-top: .7em solid white;
	border-right: .7em solid white;
	top: -.8em;
	left: -3.5em;
}

/*tutoring********************************************************/
.subtopic:not(:first-of-type) {
	border: dashed #faed26;
	border-width: 2px 0px 0px 0px;
}

.subtopic h1 {
	color: #6FC8E0
}

.subtopic ol li {
	margin: 1em;
	margin-left: -.7em;
}

@media screen and (max-width: 780px) {
	.wrapperR {
		padding: 5em 0 1em;
		margin-bottom: 2em; 
	}
}
.wrapperR {
	border: 2px solid rgba(255, 255, 255, .2);
}

.wrapperR table tr:nth-of-type(odd) td:nth-of-type(1) {
	background: rgba(255, 255, 255, .1);
}

/*projects********************************************************/
#search input[type="checkbox"] {
	
}
input[type="checkbox"]:checked{
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.grid: {
	overflow: auto;
}

.grid-item .projectCard {
	background-color: rgba(0,0,0,.20);
	border: 1px solid #ddddd8;
}

.grid-item .projectCard .slideshow {
	margin:  1em 1em 0 1em;
}

#bodycontent .grid-item .projectCard h1 a {
	color: #cccccc;
	letter-spacing: 1px;
}

#bodycontent .grid-item .projectCard h1 a:hover {
	color: #faed26;
}

.grid-item .projectCard h1  {
}

.seemore {
	color: rgb(80,80,80);
	background-color: rgba(0,0,0,.4);
}
.seemore:hover {
	color: #faed26;
	border: 1px solid #faed26;
	background-color: rgba(255,255,255,.2);
}


/*project post*******************************************/

#bodycontent #gallery-tiles::-webkit-scrollbar-thumb {
	background-color: #faed26;
}

#bodycontent #bodycontent-inner #words h1{
	color: #6FC8E0;
}