:root{
	--dark-blue: #2f3e51;
}

body { 
	color: var(--dim-white);
	background-color: #101519;

/*	
	background-color: black;
	background-image: linear-gradient( rgba(23, 37, 55, .85), rgba(23, 37, 55, .85)), url(https://history.nasa.gov/alsj/a17/AS17-137-21018HR.jpg);
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
*/
}

#navbar a.active {
	color: #68d1ed;
}
#navbar {

}

#bodycontent a {
	color: rgb(180, 180, 180);
	border-bottom-color: var(--yellow);
}
#bodycontent a:hover {color: var(--yellow);}


/*About************************************************************/

#bodycontent .bodyContent-inner .question{
	--chatQ-bg-color: rgba(250, 237, 38, .9);
	--chatQ-border-color: rgba(250, 237, 38, .9);
	/*color: #d8dbd2;*/
}

#bodycontent .bodyContent-inner .answer{
	--chat-bg-color: transparent;
	--chat-border-color: rgba(255, 255, 255, .3);
	color: rgba(255, 255, 255, 0.7);
}


#bodycontent .bodyContent-inner .answer.glow{
	--chat-border-color: rgba(135, 208, 229, 1);
}

.buttonCard:hover > img.img-circle{
	transform: scale(.7);
}

.buttonCard:hover > img:not(.img-circle) {opacity: 1;}

.buttonCard:hover > img.ring1 {
	-webkit-animation: rotationCW 48s infinite linear;
}

.buttonCard:hover > img.ring2 {
	-webkit-animation: rotationCCW 12s infinite linear;
}

.buttonCard:hover > img.ring3 {
	-webkit-animation: rotationCCW 60s infinite linear;
}

@-webkit-keyframes rotationCW {
	from {-webkit-transform: rotate(0deg);}
	to 	 {-webkit-transform: rotate(359deg);}
}
@-webkit-keyframes rotationCCW {
	from {-webkit-transform: rotate(359deg);}
	to 	 {-webkit-transform: rotate(0deg);}
}



/*tutoring********************************************************/
#bodyContent .bodyContent-inner .grid-item .projectCard h1{
	color: var(--dim-white);
}

#bodycontent .bodyContent-inner ol li {
	margin: 1em;
	margin-left: -.7em;
}

@media screen and (max-width: 780px) {
	#bodycontent .bodyContent-inner .wrapperR {
		padding: 5em 0 1em;
		margin-bottom: 2em; 
	}
}
#bodycontent .bodyContent-inner .wrapperR {
	border: 2px solid rgba(255, 255, 255, .2);
}

#bodycontent .bodyContent-inner .wrapperR table tr:nth-of-type(odd) td:nth-of-type(1) {
	background: rgba(255, 255, 255, .1);
}

/*projects********************************************************/
#bodyContent .bodyContent-inner #search input[type="checkbox"] {
	
}
input[type="checkbox"]:checked{
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

#bodyContent .bodyContent-inner .grid: {
	overflow: auto;
}

#bodyContent .bodyContent-inner .grid-item .projectCard {
	background-color: rgba(0,0,0,.20);
	border: 1px solid #ddddd8;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .slideshow {
	margin:  1em 1em 0 1em;
}

#bodycontent .bodyContent-inner .grid-item .projectCard h1 a {
	color: #cccccc;
	letter-spacing: 1px;
}

#bodycontent .bodyContent-inner .grid-item .projectCard h1 a:hover {
	color: var(--yellow);
}

.bodyContent-inner .grid-item .projectCard h1  {
}

.bodyContent-inner .grid-item .projectCard .seemore {
	color: rgb(80,80,80);
	background-color: rgba(0,0,0,.4);
}
.bodyContent-inner .grid-item .projectCard .seemore:hover {
	color: var(--yellow);
	border: 1px solid var(--yellow);
	background-color: rgba(255,255,255,.2);
}


/*project post*******************************************/

#bodycontent #gallery-tiles::-webkit-scrollbar-thumb {
	background-color: var(--yellow);
}

#bodycontent #gallery-tiles::-webkit-scrollbar {
	height: 6px;
}

#bodyContent .bodycontent-inner #words h1{
	color: #6FC8E0;
}