@font-face {
	font-family: BebasRX;
	src: url('../fonts/BebasNeueR.eot?') format('eot'),
		 url('../fonts/BebasNeueR.woff') format('woff'),
		 url('../fonts/BebasNeueR.ttf') format('truetype');
}
@font-face { 
	font-family: BebasBX;
	src: url('../fonts/BebasNeueB.eot?') format('eot'),
		 url('../fonts/BebasNeueB.woff') format('woff'),
		 url('../fonts/BebasNeueB.ttf') format('truetype');
}

#bodyContent .bodyContent-inner .grid-item a {color: var(--medium-gray);}
#bodyContent .bodyContent-inner .grid-item a:hover {
	color: var(--medium-electric-blue);
	background-color: transparent;
}

.grid::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#bodyContent .bodyContent-inner .grid-item {
	float: none;
	/*min-width: 1;*/
	overflow: hidden;
}


#bodyContent .bodyContent-inner .grid-item .projectCard {
	margin: 1.0em;
	padding: 1.1em;
	border: 1px solid;
	
	--radius: 7px;
	-webkit-border-radius: var(--radius);
	   -moz-border-radius: var(--radius);
			border-radius: var(--radius);
}

#bodyContent .bodyContent-inner .grid-item .projectCard:hover {
	--shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: var(--shadow);
	   -moz-box-shadow: var(--shadow);
			box-shadow: var(--shadow);
}

#bodyContent .bodyContent-inner .grid-item .projectCard .slideshow {
	color: black;
	display: block;
	width: auto;
	height: 250;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	background-color: #16181c;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .description {
	margin: 1em;
	overflow: auto;
}


/*Status*/
#bodyContent .bodyContent-inner .grid-item .projectCard .stats {
	overflow: hidden; /*allows floated items to be within*/ 
	padding: .1em;
	margin: -.6em 0 .4em;

	font-size: 1.6em;
	color: gray;
	font-style: italic;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .stats .status {
	float: left;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .stats .date {
	float: right;
}


/*Text formatting*/
#bodyContent .bodyContent-inner .grid-item .projectCard h1{
	font-family: BebasBX;
	letter-spacing: .7px;
	font-size: 3.7em;
	margin-top: .2em;
}

#bodyContent .bodyContent-inner .grid-item .projectCard h2 {
	font-size: 1.8em;
	width: 100%;
}

#bodyContent .bodyContent-inner .grid-item .projectCard p {
	font-size: 1.55em;
	line-height: 1.7em;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .stats.readmore {
	float: left;
	font-size: 1.4em;
	margin: .4em 0 0;
}

@media screen and (min-width: 595px) {
	#bodyContent .bodyContent-inner .grid-item {
		float: left;
		min-width: 290;
	}
	#bodyContent .bodyContent-inner .grid-item .projectCard {
		padding: 1.5em;
	}
	#bodyContent .bodyContent-inner .grid-item .projectCard .description {
		margin: 1.5em;
	}
	#bodyContent .bodyContent-inner .grid-item .projectCard h2 {
		font-size: 18px;
	}

}