@font-face { 
	font-family: BebasBX;
	src: url('../fonts/BebasNeueB.eot?') format('eot'),
		 url('../fonts/BebasNeueB.woff') format('woff'),
		 url('../fonts/BebasNeueB.ttf') format('truetype');
}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard h1 a {
	color: var(--medium-gray);
	margin-bottom: 0;
	border-bottom: 4px solid var(--pale-blue);
}
#bodyContent .bodyContent-inner .grid-item .projectCard h1 a:hover {
	color: var(--pale-blue);
}

#bodyContent .bodyContent-inner .grid .grid-item .projectCard h1 a.unclickable {border-bottom: none;}
#bodyContent .bodyContent-inner .grid .grid-item .projectCard h1 a.unclickable:hover {color: var(--medium-gray);}

.grid::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#bodyContent .bodyContent-inner .grid-item .projectCard {
	margin: 1.0em;
	padding: 1.5em;
	border: 1px solid;
	
	--radius: 7px;
	-webkit-border-radius: var(--radius);
	   -moz-border-radius: var(--radius);
			border-radius: var(--radius);
}

#bodyContent .bodyContent-inner .grid-item .projectCard:hover {
	--shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: var(--shadow);
	   -moz-box-shadow: var(--shadow);
			box-shadow: var(--shadow);
}

#bodyContent .bodyContent-inner .grid-item .projectCard .slideshow {
	width: 100%;
	height: 250;

	background-color: #16181c;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	--project-thumbnail:;
	background-image: 
		var(--project-thumbnail);
}

#bodyContent .bodyContent-inner .grid-item .projectCard .description {
	margin: 1em 0.75em;
	overflow: auto;
}


/*Status*/
#bodyContent .bodyContent-inner .grid-item .projectCard .stats {
	overflow: hidden; /* allows floated items to be within */ 
	padding: .6em .1em; /* use padding bc margin collapse with h1 */

	font-size: 1.6em;
	color: gray;
	font-style: italic;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .stats .status {float: left;}
#bodyContent .bodyContent-inner .grid-item .projectCard .stats .date {float: right;}

/*Text formatting*/
#bodyContent .bodyContent-inner .grid-item .projectCard h1{
	font-family: BebasBX;
	letter-spacing: .7px;
	font-size: 3.7em;
	margin: .2em 0;
}

#bodyContent .bodyContent-inner .grid-item .projectCard h1 a{
	line-height: 1.2em;
}

#bodyContent .bodyContent-inner .grid-item .projectCard p {
	margin-top: 0.5em;
	margin: 0;
	font-size: 1.55em;
	line-height: 1.7em;
}

#bodyContent .bodyContent-inner .grid-item .projectCard .stats.readmore {
	float: left;
	font-size: 1.4em;
	margin: .4em 0 0;
}

@media screen and (min-width: 595px) {
	#bodyContent .bodyContent-inner .grid-item {min-width: 290;}
}