<<<<<<< HEAD
.grid-item a {color: #fea300;}
.grid-item a:hover {background-color: transparent;}

.grid::-webkit-scrollbar {
	width: 0px;
	background: transparent;
=======
a {
	color: #ff8300  /**/;
}
a:hover {
	background-color: transparent;
>>>>>>> ab054825d2c7192fd1f04d9d6a8872b7f035722a
}

.grid-item {
	float: none;
	min-width: 1;
	overflow: hidden;
}


.grid-item .projectCard {
	margin: 1.0em;
	padding: 1.1em;
	border: 1px solid;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}

.grid-item .projectCard:hover {
	-webkit-box-shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.2);
			box-shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.2);
}

.grid-item .projectCard .slideshow {
	color: black;
	display: block;
	width: auto;
	height: 350;

	background-color: #16181c;
}

.grid-item .projectCard .description {
	/*margin: 1em;*/
	overflow: auto;
}


/*Status*/
.grid-item .projectCard .stats {
	overflow: hidden;
	margin: -.6em 0 .4em;

	font-size: 1.6em;
	color: gray;
	font-style: italic;
}

.grid-item .projectCard .stats .status {
	float: left;
}

.grid-item .projectCard .stats .date {
	float: right;
}


/*Text formatting*/
.grid-item .projectCard h1{
	font-size: 2.4em;
	margin-top: .2em;
}

.grid-item .projectCard h2 {
	font-size: 1.8em;
	width: 100%;
}

.grid-item .projectCard p {
	font-size: 16px;
	line-height: 1.7em;
}

.grid-item .projectCard .readmore {
	display: block;
	float: right;
	margin-top: 1em;
	
	font-size: 1.6em;
	color: gray;
	font-style: italic;
}


@media screen and (min-width: 755px) {
	.grid-item {
		float: left;
		min-width: 350;
	}
	.grid-item .projectCard {
		padding: 1.5em;
	}
	.grid-item .projectCard .description {
		margin: 1.5em;
	}
	.grid-item .projectCard h2 {
		font-size: 18px;
	}

	.grid-item .projectCard p {
		font-size: 16px;
	}

	.grid-item .projectCard a.readmore {
		font-size: 18px;
	}
}
