/** {border: 1px solid red;}*/

#bodyContent #bodyContent-inner a {
	border-bottom-width: 1px;
}

#bodyContent #bodyContent-inner #contents{
	font-family: 'Rajdhani', cursive;
	font-size: 3em;
	margin: -.1em 0 2em;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 2px var(--medium-electric-blue);
}

#bodyContent #bodyContent-inner #contents {
	display: flex;
	justify-content: center;
	padding-bottom: 1.5em;
	width: 100%;
}

#bodyContent #bodyContent-inner #contents .section {
	padding: 0.8em;
}

#bodyContent #bodyContent-inner #contents .section a{
	text-transform: uppercase;
	border: none;
}

#bodyContent #bodyContent-inner h1 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight: normal;
	color: var(--medium-electric-blue);
	font-size: 4em;
	text-transform: uppercase;
	
	padding: .2em 0;
	margin: .2em 0 .2em;
	text-align: center;
}

#bodyContent #bodyContent-inner h2 {
	font-family: 'Rajdhani', cursive;
	font-size: 3em;
	text-transform: uppercase;
	margin: 1em 0 -.5em;
}

#bodyContent #bodyContent-inner h3 {
	font-family: 'Rajdhani', cursive;
	font-size: 2em;
	margin: 1.8em 1.6em -.2em;
	font-style: italic;
}

#bodyContent #bodyContent-inner p {
	font-size: 1.6em;
	line-height: 1.8em;
}

#bodyContent #bodyContent-inner ul {
	list-style: none;
	margin-left: 2em;
}

@media screen and (min-width: 770px){
	#bodyContent #bodyContent-inner h1 {
		font-size: 8em;
	}

	#bodyContent #bodyContent-inner h3 {
		font-size: 2.3em
	}

	#bodyContent #bodyContent-inner p {
		font-size: 16px;
	}
	
}