

#search {
	/*border: 1px solid blue;*/
	max-width: 910px;
	width: 100%;
	margin: 0 auto 2em;
	font-size: 1.4em;
	line-height: 2.3em;
	background-color:transparent;
	overflow: hidden;
}

#search{background-color: rgba(160, 160, 160, .3)}

#search .searchbox {
	box-sizing: border-box;
	width: 200px;
	margin: 1em;
	padding: 0 1em;
	float: right;

	color: gray;
	font-size: 1em;
	line-height: 2.5em;
	border: 1px solid;
	border-radius: 5px;
	background-color: white;
	width: calc(100% - 2em - 2px);
}

#search .searchbox .icon {
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	position: relative;
	top: -.1em;
	float: right;
	-webkit-transform: rotate(-45deg); 
	   -moz-transform: rotate(-45deg); 
		 -o-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

#search #searchParams{
	display: flex;
	display: none;
	flex-wrap: wrap;

	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0 .1em .1em .1em;
}
#search #searchParams.expand{display: flex;}

#search #searchParams .selector-group{
	padding: 1em;
	min-width: 110px;
	flex-grow: 1;
}
#search #searchParams #tags-sg{
	flex-grow: 2;
	/*background-color: red;*/
	min-width: 250px;
}


#search #searchParams .selector-group h1 {
	font-family: 'Rajdhani', cursive;
	font-size: 1.5em;
	padding: .3em .6em;
	background-color: rgba(10,10,10,.2);
	margin: 0 0 .5em;
}

/* regular selector group */
#search #searchParams .selector-group .button-group {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	justify-content: left;

	max-height: 170px;
}

#search #searchParams .selector-group .button-group label{
	position: relative;
	right: -0.7em;

}

#search #searchParams .selector-group .button-group input[type="checkbox"]{
 	cursor: pointer;
 	-webkit-appearance: none;
 			appearance: none;
 	
 	position: relative;
 	top: .6em;
 	right: .6em;

 	border-width: 0;
 	border-radius: 1px;
 	background: white;
 
 	box-sizing: content-box;
 	width: 1.5em;
 	height: 1.5em;
 
 	-webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .35);
 	   -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .35);
 			box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .35);
 	
 	transition: all .2s ease;
 }

#search #searchParams .selector-group .button-group input[type="checkbox"]:hover{
 	outline: 0 none;
 	box-shadow: none;
 }

#search #searchParams .selector-group .button-group input[type="checkbox"]:checked{
 	background-color: var(--pale-blue);
 	-webkit-box-shadow: none;
 	   -moz-box-shadow: none;
 			box-shadow: none;
 }

 /* reset selector group */
#search #searchParams .selector-group#reset-sg{width: 100%;}
#search #searchParams .selector-group#reset-sg .button-group {}

#search #searchParams label#reset {
	background-color: rgba(255, 255, 255, .5);
	border: none;
	right: 0;
	text-align: center;
}

#search #searchParams label#reset input[type="checkbox"]{
	display: none;
}

#search #searchParams label#reset:hover{
	background-color: rgba(255, 255, 255, .9);
}

.seemore {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	border: 1px solid;
	border-radius: .5em;
	width: 100%;
	max-width: 18em;

	color: gray;
	font-family: BowmanX;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	line-height: 4em;
	background-color: rgba(120,120,120, .4);
}
.seemore:hover {
	background-color: rgba(225, 225, 225, 1);
	color: #19B7E0;
	border: 1px solid #19B7E0;
}
