.slideshow{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#search {
	/*border: 1px solid blue;*/
	width: 100%;
	margin: 0 auto 2em;
	font-size: 1.4em;
	line-height: 2.3em;
	background-color:transparent;
	overflow: hidden;
}
#search.expand {background-color: rgba(160, 160, 160, .3)}

#search.expand .searchbar {
	overflow: auto;
	width: 100%
}

.searchbox {
	box-sizing: border-box;
	width: 200px;
	margin: 1em;
	padding: 0 1em;
	float: right;

	color: gray;
	font-size: 1em;
	line-height: 2.5em;
	border: 1px solid;
	border-radius: 5px;
	background-color: white;
}
#search.expand .searchbox {
	width: calc(100% - 2em - 2px);
	/*height: 0;
	border:0;
	margin: 0;*/
}
.searchbox .icon {
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	position: relative;
	top: -.1em;
	float: right;
	-webkit-transform: rotate(-45deg); 
	   -moz-transform: rotate(-45deg); 
		 -o-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

form {
	/*position: absolute;*/
	/*top: -100%;*/
	/*display: none;*/
}
#search.expand form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0 2em 2em 2em;
}

form h1 {
	font-size: 1.5em;
	padding: .3em .6em;
	margin: 0;
	background-color: rgba(10,10,10,.2);
}

form input {
	margin-left: 1.7em;
}

form input[type="checkbox"]{
	cursor: pointer;
	-webkit-appearance: none;
			appearance: none;
	
	position: relative;
	top: .7em;
	right: .6em;

	border-width: 0;
	border-radius: 1px;
	/*box-sizing: border-box;*/
	background: white;

	box-sizing: content-box ;
	width: 1.5em;
	height: 1.5em;

	-webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .35);
	   -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .35);
			box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .35);
	
	transition: all .2s ease;
}
form input[type="checkbox"]:checked{
	background-color: #faed26;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
form input[type="checkbox"]:hover{
	outline: 0 none;
	box-shadow: none;
}


.checkboxes {
	min-width: 110px;
	flex-grow: 1;
	padding: 1em;
}
.tags {flex-grow: 3;}
.tags .col1, .tags .col2 {
	display: inline-block;
	width: 49%;
	min-width: 130px;
}

@media screen and (min-width: 630px) {
	form {padding: 0}
}

@media screen and (min-width: 1506px) {
	form {width: 70%;}
}

.seemore {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	border: 1px solid;
	border-radius: .5em;
	width: 100%;
	max-width: 18em;

	color: gray;
	font-family: BowmanX;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	line-height: 4em;
	background-color: rgba(120,120,120, .4);
}
.seemore:hover {
	background-color: rgba(225, 225, 225, 1);
	color: #19B7E0;
	border: 1px solid #19B7E0;
}

#project-0100 .slideshow {
	/*background-size: contain;*/
	background-image: url(http://www.cosmiclight.com/ofquasars/images/lightcone1.gif);
}
#project-0005 .slideshow {
	background-image: url(https://ak6.picdn.net/shutterstock/videos/15238906/thumb/1.jpg);
}
#project-0004 .slideshow {
	background-image: url(http://www.pocproject.com/wp-content/uploads/2011/08/Wilder-Mann-series-Charles-Freger-2010-2.jpg);
}
#project-0003 .slideshow {
	background-image: url(http://www.yotrioint.com/blog/wp-content/uploads/2014/03/london_2012_olympics_led_umbrellas_1.jpg);
	background-size: 140% auto;
	background-position: 50% 35%;
	background-image: url(https://www.tinyme.com/blog/wp-content/uploads/10-illuminating-kids-lights/10-Illuminating-Kids-Lights-5.jpg);
}
#project-0002 .slideshow {
	background-position: 20% 0;
	background-image: url(https://flipermag.com/wp-content/uploads/2014/12/fhmvMVq.png);
}
#project-0001 .slideshow {
	background-image: url(https://imaginationinternationalinc.com/media/featured-image/2017/01/30/iii-Catalog-10-28-160814.jpg);
}