/** {border: 1px solid red;}*/

@font-face {
	font-family: BowmanX;
	src: url('../fonts/Bowman.eot?') format('eot'),
		 url('../fonts/Bowman.woff') format('woff'),
		 url('../fonts/Bowman.ttf') format('truetype');
}

@font-face {
	font-family: BebasRX;
	src: url('../fonts/BebasNeueR.eot?') format('eot'),
		 url('../fonts/BebasNeueR.woff') format('woff'),
		 url('../fonts/BebasNeueR.ttf') format('truetype');
}
@font-face {
	font-family: BebasBX;
	src: url('../fonts/BebasNeueB.eot?') format('eot'),
		 url('../fonts/BebasNeueB.woff') format('woff'),
		 url('../fonts/BebasNeueB.ttf') format('truetype');
}

@font-face {
	font-family: SquareX;
	src: url('../fonts/simply-square.eot?') format('eot'),
		url('../fonts/simply-square.woff') format('woff'),
		url('../fonts/simply-square.ttf') format('truetype');
}

body {
	height: auto;
	font-family: Verdana;
	font-size: 10px;
	margin: 0;
	
	background-color: #f3f3f3;	
}

/* body Content */
#bodyContent {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	position: relative;
	margin: 2em auto;
	z-index: 1;
	overflow: auto;
	
}

#bodyContent::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#bodycontent a {
	color: rgb(85, 85, 85);
	text-decoration: none;
	border-bottom: 3px solid #19B7E0;

	-webkit-transition: background-color .3s;
			transition: background-color .3s;
}

#bodycontent a:hover {color: #19B7E0;}

::selection {
	color: black;
	background-color: rgba(255, 235, 0, .6);

}

/* Navigation bar */
#navbar {
	width: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #1D3048;

	-webkit-box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);
			box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);

	top: 0;
	transition-timing-function: ease-out;
	
	-webkit-transition: top .4s;
			transition: top .4s;

	z-index: 10;

	display: flex;
	/*align-content: center;*/
	flex-wrap: wrap;
	align-items: center;
}

#navbar  a {
	display: block;
	
	font-family: BowmanX;
	font-size: 2.1em;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	
	line-height: .8em;
	padding: 1em;	

	float: left;
	text-align: left;
}

#navbar  a:hover {
	background-color: transparent;
	color: /*#f7b10e*/ #83D8EF;
}

#navbar a.active {
	color: #19B7E0;
}

#navbar a.home {
	font-family: SquareX;
	letter-spacing: 2px;
	font-size: 3em;
	color: #faed26;
	padding: .6em;
	line-height: 1em;
	text-align: left;
}

/* Navbar collapsed */
#navbar a:not(.home) {
	display: none;
}

#navbar a.icon {
	text-align: center;
	/*float: right;*/
	display: block;
	font-size: 3em;
	line-height: 1em;
	padding: .6em 0em;
	min-width: 0;
	width: 3em;
}
#navbar a.icon:hover {
	color: white;
}

#navbar.hamExpand a {
	position: relative;
	display: block;
	float: none;
	width: 100%;
	background-color: ;
}

#navbar a.home {
	width: calc(100% - 4.5em);
}

#navbar.hamExpand a.icon {
	/*position: absolute;
	right: 0;
	top: 0;*/
	width: 3em;
}

.sticky {
	margin-top: 0;
	position: fixed !important;
	top: 0;
}



#footer {
	display: block;
	margin: 0 auto;
	bottom: 0;
	width: 50%;
	height: 100px;
	background-color: rgba(17,17,17,0);
}

#toggle {
	/*border: 2px solid blue;*/
	display: none;
	position: relative;
	top: -.2em;
	z-index: 11;
	width: 4em;
	height: 4em;
}

#navbar.hamExpand #toggle {
	display: block;
	padding: 1em;
}

#toggle .back, 
#toggle .front{
	position: absolute;
	display: block;
	-webkit-border-radius: 100%;
	    -moz-border-radius: 100%;
			border-radius: 100%;

	width: 4em;
	height: 4em;

	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
}
#toggle .front{
	/*background-color: skyblue;*/
}

#toggle .back {
	/*background-color: #243b6d;*/
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

#toggle img.day {
	width: 3.5em;
	height: auto;
	position: relative;
	top: .27em;
	left: .3em;
}

#toggle img.night{
	width: 3em;
	height: auto;
	position: relative;
	top: .45em;
	left: .56em;
}

#toggle:hover .front {
	-webkit-transform: rotateY(180deg);
	  	transform: rotateY(180deg);
}

#toggle:hover .back{
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
}

@media screen and (min-width: 800px) {
	#navbar {
		display: flex;
		flex-direction: row;
		justify-content: center;

		align-items: center;
	}

	#navbar a {
		text-align: center;
		padding: 1em 0.6em;
	}

	#navbar a:not(.home) {
		display: block;
	}
	#navbar a.icon {
		display: none;	
	}

	#toggle {
		display: block;
	}

	#navbar a.home {
		width: auto;
	}
}

@media screen and (min-width: 1000px){
	#navbar a {
		padding: 1em;
	}
}