@font-face {
	font-family: HackX;
	src: url('../fonts/Hack-Regular.eot?') format('eot'),
		url('../fonts/Hack-Regular.woff') format('woff'),
		url('../onts/Hack-Regular.ttf') format('truetype');
}

#bodyContent {
	font-size: 1em;
}

.subtopic {
	margin: 2em;
	overflow: hidden;
}

.wrapperR {
	overflow: auto;
	padding: 4em 0 2em;
	margin-bottom: 3em;
	border: solid lightgray;
	border-width: 2px; 
	border-radius: 3em;
}

/* Text formatting */
.subtopic h1 {
	font-family: BowmanX;
	font-size: 4em;
	color: black /*#243b6d*/;
	background-color: #fff369;
	padding: .2em;
	text-transform: uppercase;
	margin: 10px 0 .5em;
}

.subtopic p {
	font-size: 1.6em;
	line-height: 1.8em;
}
p.emp {
	color: #ea8e12;
	text-align: center;
	font-family: HackX;
	font-weight: bold;
	font-style: italic;
	font-size: 1.8em;
	margin: 2em 0px;
}		


/* Button */
#contactButton {
	z-index: 5;

	position: fixed;
	bottom: 0;
	right: 0;
	margin: 15px;

	height: 65px;
	width: 65px;
	border-radius: 100%;
	border: none;
	background-color: #f7b10e;

	float: right;
	
	font-size: 28px;
	color: rgba(255, 255, 255, .85);
	font-family: HackX;
	text-decoration: none;

	-webkit-box-shadow: 0 7px 10px -6px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 7px 10px -6px rgba(0, 0, 0, 0.3);
			box-shadow: 0 7px 10px -6px rgba(0, 0, 0, 0.3);

	cursor: pointer;

	-webkit-transition: background-color .2s;
	transition: background-color .2s;

	-webkit-transition: opacity .1s;
	transition: opacity .1s;
}

#contactButton:hover{
	background-color: white;
	color: #ff8300;
	border: 1px solid #ff8300;
}

/* Numbered list */
ol {
}

ol li {
	list-style-type: none;
	margin: 1em;
	margin-left: -.7em;
	font-size: 1.45em;
	line-height: 1.8em;
}


/* Table */
table {
	font-size: 1.5em;
	width: 100%;
}

tr {
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

table, td, th {
    border-collapse: collapse;
}

th, td {
	padding: .7em;
	text-align: left;
}

th{
	font-family: HackX;
	font-size: 1.0em;
}

tr:nth-of-type(odd) td:nth-of-type(1) {
	/*background: rgba(79, 107, 153, .05);*/
	/*background: rgba(255, 235, 0, .05);*/
}


@media screen and (min-width: 780px) {
	.subtopic h1 {
		font-family: BowmanX;
		font-size: 6.5em;
		text-align: left;
	}

	.subtopic p {
		font-size: 16px;
	}

	.wrapperR {
		max-width: 45%;
		float: right;
		padding: 5em 0em 2em;
		margin: 0 0 4% 4%;
	}
	table {
		width: 100%
		font-size: 15px;
	}

	th, td {
		padding: 1em;
	}

	form {
		width: 40%;
		overflow: hidden;
		float: right;
	}
}

