@font-face {
	font-family: HackX;
	src: url('../fonts/Hack-Regular.eot?') format('eot'),
		url('../fonts/Hack-Regular.woff') format('woff'),
		url('../onts/Hack-Regular.ttf') format('truetype');
}

#bodyContent {
	font-size: 1em;
}

.subtopic {
	margin: 2em;
	overflow: hidden;
}

.wrapperR {
	overflow: auto;
	padding: 4em 0 2em;
	margin-bottom: 3em;
	border: solid lightgray;
	border-width: 2px; 
	border-radius: 3em;
}

/* Text formatting */
.subtopic h1 {
	font-family: BebasBX;
	letter-spacing: 2px;
	font-size: 4em;
	color: #19B7E0;
	padding: .2em 0em;
	text-transform: uppercase;
	margin: 10px 0 .2em;
}

.subtopic p {
	font-size: 1.6em;
	line-height: 1.8em;
}
.subtopic p.emp {
	color: #6FC8E0;
	text-align: center;
	font-family: HackX;
	font-weight: bold;
	font-style: italic;
	font-size: 1.8em;
	margin: 2em 0px;
}		

/* Numbered list */
ol {
}

ol li {
	list-style-type: none;
	margin: 1em;
	margin-left: -.7em;
	font-size: 1.45em;
	line-height: 1.8em;
}


/* Table */
table {
	font-size: 1.5em;
	width: 100%;
}

tr {
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

table, td, th {
    border-collapse: collapse;
}

th, td {
	padding: .7em;
	text-align: left;
}

th{
	font-family: HackX;
	font-size: 1.0em;
}

tr:nth-of-type(odd) td:nth-of-type(1) {
	/*background: rgba(79, 107, 153, .05);*/
	/*background: rgba(255, 235, 0, .05);*/
}


@media screen and (min-width: 780px) {
	.subtopic h1 {
		font-size: /*6.5em*/8em;
		text-align: left;
	}

	.subtopic p {
		font-size: 16px;
	}

	.wrapperR {
		max-width: 45%;
		float: right;
		padding: 5em 0em 2em;
		margin: 0 0 4% 4%;
	}
	table {
		width: 100%
		font-size: 15px;
	}

	th, td {
		padding: 1em;
	}
}

