@import url('https://fonts.googleapis.com/css?family=Rajdhani');

@font-face {
	font-family: HackX;
	src: url('../fonts/Hack-Regular.eot?') format('eot'),
		url('../fonts/Hack-Regular.woff') format('woff'),
		url('../onts/Hack-Regular.ttf') format('truetype');
}
/** {border: 1px solid red;}*/

#bodyContent {
	font-size: 1em;
}

#bodyContent .bodyContent-inner {
	max-width: 1100px;
}

#bodyContent .bodyContent-inner .wrapperR {
	overflow: auto;
	padding: 4em 0 2em;
	margin-bottom: 3em;
	border: solid lightgray;
	border-width: 2px; 
	border-radius: 3em;
}

/* Text formatting */

#bodyContent .bodyContent-inner p {
	font-size: 1.5em;
	line-height: 1.8em;
	margin: 1em 0;
}

#bodyContent .bodyContent-inner p.emp {
	color: #19B7E0;
	color: rgb(150,150,150);

	text-align: center;
	font-family: 'Rajdhani', cursive;
	font-weight: bold;
	font-style: italic;
	font-size: 2.5em;
	margin: 2em 0px;
}		

/* Numbered list */
#bodyContent .bodyContent-inner ol {
}

#bodyContent .bodyContent-inner ol li {
	list-style-type: none;
	margin: 1em;
	margin-left: -.7em;
	font-size: 1.45em;
	line-height: 1.8em;
}


/* Table */
#bodyContent .bodyContent-inner table {
	font-size: 1.5em;
	width: 100%;
}

#bodyContent .bodyContent-inner tr {
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

#bodyContent .bodyContent-inner table, td, th {
    border-collapse: collapse;
}

#bodyContent .bodyContent-inner th, td {
	padding: .7em;
	text-align: left;
}

#bodyContent .bodyContent-inner th{
	font-family: HackX;
	font-size: 1.0em;
}

#bodyContent .bodyContent-inner tr:nth-of-type(odd) td:nth-of-type(1) {
	/*background: rgba(79, 107, 153, .05);*/
	/*background: rgba(255, 235, 0, .05);*/
}

/* Project Cards */
#bodyContent .bodyContent-inner .grid-item .projectCard h1{
	color: var(--medium-gray);
	letter-spacing: .7px;
}

@media screen and (min-width: 780px) {
	#bodyContent .bodyContent-inner .wrapperR {
		max-width: 45%;
		float: right;
		padding: 5em 0em 2em;
		margin: 0 0 4% 4%;
	}
	#bodyContent .bodyContent-inner table {
		width: 100%
		font-size: 15px;
	}

	#bodyContent .bodyContent-inner th, td {
		padding: 1em;
	}
}

